.el {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1.5em;
    line-height: normal; 
    width: 63.3em; 
    height: 3em;    
    border-radius: 5px; 
}

 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

 .llimona{
    background-color: lawngreen;
 }

 .verd{
    background-color: green;
 }

 .blau{
    background-color: blue;
 }

 .negre{
    background-color: black;
 }